/*-------------heading*/

header {
  margin: 0;
}



/*------------navbar*/

.nav-link{
  
  font-weight: 900;
  
}

/*------------body*/

body {
  font-family: 'Roboto Slab', serif;
  background: url("../img/battlefieldv_background.png");
  background-size: auto;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: translateZ(0);
  z-index: -1;
  
}

/*------------fouter*/


